body {
	// * Spacing
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 15px;
	--space-4: 20px;
	--space-5: 25px;
	--space-6: 30px;
	--space-7: 35px;

	// * Border Radiuses
	--rounded-1: 5px;
	--rounded-2: 10px;
	--rounded-3: 15px;
	--rounded-4: 20px;
	--rounded-5: 25px;

	// * Z-index
	--z-index-register-theme-select: 1;
	--z-index-input-label: 2;
	--z-index-menu: 10;

	// * Width
	--width-chat-content: 55%;

	// * Height
	--min-height-chat-header: 5rem;

	// * Animations
	--base-transition-timing: 0.3s;
}