@import "@/app/styles/_mixins";

.card {
	display: flex;
	align-items: center;
	padding: var(--space-3);
	background-color: transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;

	&:hover,
	&:focus {
		border-top-color: var(--color-primary-800);
		border-bottom-color: var(--color-primary-800)	;
	}


	.image {
		width: 40px;
		height: 40px;
		margin-right: var(--space-3);
	}

	.info {
		flex-grow: 1;

		.top {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;

			.title {
				color: var(--color-secondary-1000);
				font-size: 16px;

				@include line-clamp(1);
			}

			.time {
				color: var(--color-primary-300);
				font-size: 12px;
			}
		}

		.message {
			color: var(--color-primary-300);
			font-size: 16px;
		}
	}

	&_active {
		background-color: var(--color-primary-800);
	}
}