@import "@/app/styles/_mixins";

.field {
	position: relative;
	background-color: var(--color-primary-900);
	border: 1px solid var(--color-primary-500);
	border-radius: var(--rounded-1);

	&_invalid {}

	&_has-value,
	&_active {
		.field__label {
			// scale(0.857) = font-size: 12px;
			transform: translateX(10px) translateY(4px) scale(0.8);
		}

		.field__content {
			transform: translateY(6px);
		}
	}

	&__label {
		pointer-events: none;
		position: absolute;
		color: var(--color-primary-400);
		font-size: 14px;
		transform: translateX(15px) translateY(15px) scale(1);
		transition: transform var(--base-transition-timing);
		will-change: transform;
	}

	&__content {
		background: none;
		border: none;
		outline: none;
		width: 100%;
		font-size: 14px;
		color: var(--color-primary-300);
		padding: var(--space-3);
	}

	&__icon {
		position: absolute;
		top: var(--space-3);
		left: var(--space-3);

		@include set-icon-size(20px);
	}
}