.steps {
	--step-change-duration: 300ms;

	position: relative;

	.step {
		width: 100%;
		--step-change-delay: 0ms;

		&_enter {
			&-from-left {
				left: -150%;
			}

			&-from-right {
				left: 150%;
			}

			&-from-left,
			&-from-right {
				width: 100%;
				position: absolute;
				top: 50%;
				opacity: 0;
				transform: translateY(-50%);

				&-active {
					left: 0%;
					opacity: 1;
					transition:	left var(--step-change-duration) ease-in-out var(--step-change-delay),	opacity var(--step-change-duration) ease-in-out var(--step-change-delay);
				}

				&-done {
					position: unset;
				}
			}
		}

		&_exit {
			&-to-right,
			&-to-left {
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0%;
				transform: translateY(-50%) scale(1);

				&-active {
					transform: translateY(-50%) scale(0.8);
					transition:	left var(--step-change-duration) ease-in-out var(--step-change-delay),	transform var(--step-change-duration) ease-in-out var(--step-change-delay);
				}

				&-done {
					position: unset;
				}
			}

			&-to-right-active {
				left: 150%;
			}

			&-to-left-active {
				left: -150%;
			}
		}
	}
}