@import "@/app/styles/_mixins";

.page {
	display: flex;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.chat {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	height: 100%;

	.messages {
		display: flex;
		flex-direction: column-reverse;
		overflow-y: scroll;

		@include custom-scrollbar();
	}

	.form {
		gap: var(--space-4);
		padding: var(--space-4);
	}
}
