.group {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100%;
	gap: 15px;

	&_auto-1fr {
		grid-template-columns: auto 1fr;
	}
}